{% extends "catalog/base.html" %}
{% block content %}
{% load static %}
<div class = "main">
    <div class = "image-home" style="text-align: center;">
        <img src="{% static  'users/images/homee.png' %}" alt="" style="">
    </div>
</div>
<div class="center-button" style = "margin-bottom:250px;">
    <a href="{% url 'catalog:book_list' %}" class="btn btn-custom active text-white" role="button">Start Browsing</a>
</div>

<div data-aos="fade-up" data-aos-duration="3000"  style="position: relative; width: 100%; height: 100%; margin-top: 100px;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 400" style="margin: 50px; position: absolute; top: -100px; left: 50%; transform: translateX(-50%); z-index: -1;">
      <defs>
        <path id="path" d="M50 200 C150 50 250 350 400 200 C550 50 650 350 750 200 C850 50 950 350 1100 200" stroke="#fff" fill="none"/>
      </defs>
      <text fill="#fff" font-size="60">
        <textPath id="text" xlink:href="#path" startOffset="100%">
          <tspan fill="#426B1F"> Get Started! Get Started!</tspan>
        </textPath>
      </text>
    </svg>
</div>


    <div data-aos="fade-up" data-aos-duration="3000" class="mapContainer">

    <div data-aos="fade-up" data-aos-duration="3000" class="help-text" style="position: relative; z-index: 1;padding-top: 50px; margin:50px;">
        <h2>Are you a new user?</h2>
        <h3>1. Navigate to your profile at the navigation bar to see your role!</h3>
        <h3>2. Click start browsing to see our collection!</h3>
        <h3>3. Refer to the help page for more information.</h3>

        <div style="text-align: center; margin-top: 20px;">
            <a href="{% url 'users:help_page' %}" class="btn btn-custom active text-white" role="button" style="display: inline-block; padding: 10px 20px; background-color: #426B1F; border: none; border-radius: 15px; text-align: center; text-decoration: none; color: white;">Help Page</a>
        </div>
    </div>
    <div>
        <img src="{% static 'users/images/books.jpg' %}" alt="Books" style="width: 100%; height: 100%; object-fit: cover; display: block;" data-aos="fade-up" data-aos-duration="3000" data-aos-offset="-200">
    </div>

</div>

    <div data-aos="fade-up" data-aos-duration="3000" class = "mapContainer">
        <div id="googleMap"></div>
        <div data-aos="fade-up"
             data-aos-duration="3000" class="map-text">
            <h2>We believe in ease, privacy, and safety.</h2>
            <h3>
                There are four pick up and drop off bins installed in entrances of Rice, Shannon, Gibbons, and Student Health and Wellness.
                Feel free to drop off in any of locations convenient and let your lender/borrower know!
            </h3>
        </div>
    </div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWsOaFywRuXK3743fprVwT4oePuo3io9c&loading=async&callback=myMap" async defer></script>
<script src="{% static  'users/script.js' %}"></script>

{% endblock content %}